<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
</head>
<body>
<img src="/media/one.png" height="300px" width="300px"/>
<br>
<img src="/media/Breakfast.png" height="300px" width="300px"/>
<br>
<img src="/media/Lunch.png" height="300px" width="300px"/>
<br>
<img src="/media/Snacks.png" height="300px" width="300px"/>
<br>
<img src="/media/Dinner.png" height="300px" width="300px"/>
<br>
<img src="/media/Pie.png" height="480" width="480"/>
</body>
</html>